In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/Credit_Card_Applications (1).csv")

In [3]:
dtst

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [4]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,0:15]
trainy=train.iloc[:,15]
testx=test.iloc[:,0:15]
testy=test.iloc[:,15]

In [5]:
trainx

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14
319,15771856,0,24.50,12.750,2,8,5,4.750,1,1,2,0,2,73,445
74,15585855,1,40.25,21.500,2,10,9,20.000,1,1,11,0,2,0,1201
528,15611409,0,23.58,0.585,1,1,1,0.125,0,0,0,0,2,120,88
22,15694530,1,41.17,1.335,2,2,4,0.165,0,0,0,0,2,168,1
65,15777994,1,42.00,9.790,2,14,8,7.960,1,1,8,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,15593959,0,21.75,1.750,1,5,3,0.000,0,0,0,0,2,160,1
56,15621546,1,40.00,6.500,2,6,5,3.500,1,1,1,0,2,0,501
210,15788131,0,29.50,0.460,2,4,4,0.540,1,1,4,0,2,380,501
320,15762045,1,21.00,4.790,1,9,4,2.250,1,1,1,1,2,80,301
425,15625501,1,31.42,15.500,2,8,4,0.500,1,0,0,0,2,120,1

In [6]:
trainy

319    1
74     1
528    0
22     0
65     1
      ..
201    0
56     1
210    1
320    1
425    0
Name: Class, Length: 483, dtype: int64

In [7]:
mdl0=SVC(kernel='linear')
mdl0.fit(trainx,trainy)
prd=mdl0.predict(testx)
acc0=np.mean(prd==testy)

In [8]:
acc0

0.6328502415458938

In [9]:
mdl1=SVC(kernel='poly')
mdl1.fit(trainx,trainy)
prd=mdl1.predict(testx)
acc1=np.mean(prd==testy)

In [10]:
acc1

0.5555555555555556

In [11]:
mdl2=SVC(kernel='rbf')
mdl2.fit(trainx,trainy)
prd=mdl2.predict(testx)
acc2=np.mean(prd==testy)

In [12]:
acc2

0.5555555555555556

In [14]:
mdl3=SVC(kernel='sigmoid')
mdl3.fit(trainx,trainy)
prd=mdl3.predict(testx)
acc3=np.mean(prd==testy)

acc3

In [15]:
acc3

0.5555555555555556