In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/Credit_Card_Applications (1).csv")

In [3]:
dtst

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [4]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,0:15]
trainy=train.iloc[:,15]
testx=test.iloc[:,0:15]
testy=test.iloc[:,15]

In [5]:
trainx

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14
431,15754578,1,32.08,4.000,1,13,4,1.500,0,0,0,1,2,120,1
229,15707602,0,22.83,2.290,2,11,8,2.290,1,1,7,1,2,140,2385
287,15751167,1,41.33,0.000,2,8,5,15.000,1,0,0,0,2,0,1
637,15673238,1,16.33,4.085,2,3,8,0.415,0,0,0,1,2,120,1
596,15569595,1,20.50,10.000,1,8,4,2.500,1,0,0,0,1,40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,15770255,1,32.08,4.000,2,7,4,2.500,1,0,0,1,2,360,1
678,15711977,1,25.67,0.290,1,8,4,1.500,0,0,0,1,2,160,1
635,15707681,1,21.67,1.165,1,4,4,2.500,1,1,1,0,2,180,21
330,15648876,0,60.92,5.000,2,6,4,4.000,1,1,4,0,2,0,100
315,15686670,1,26.83,0.540,2,4,1,0.000,0,0,0,0,2,100,1

In [6]:
trainy

431    0
229    1
287    1
637    0
596    1
      ..
583    1
678    0
635    0
330    1
315    0
Name: Class, Length: 483, dtype: int64

In [7]:
mdldt=DecisionTreeClassifier(criterion="entropy")
mdldt.fit(trainx,trainy)
preddt=mdldt.predict(testx)
cm1=confusion_matrix(preddt,testy)
acc=np.mean(preddt==testy)

In [8]:
cm1

array([[100,  16],
       [ 20,  71]], dtype=int64)

In [9]:
acc

0.8260869565217391