In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [2]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/Credit_Card_Applications (1).csv")

In [3]:
dtst

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [4]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,0:15]
trainy=train.iloc[:,15]
testx=test.iloc[:,0:15]
testy=test.iloc[:,15]

In [5]:
trainx

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14
439,15676156,1,22.25,0.460,2,4,4,0.125,0,0,0,1,2,280,56
395,15673747,1,31.57,0.040,1,2,4,4.250,0,0,0,1,2,460,1
137,15689781,1,39.25,9.500,2,7,4,6.500,1,1,14,0,2,240,4608
48,15731586,0,29.50,2.000,1,10,8,2.000,0,0,0,0,2,256,18
519,15779207,0,27.33,1.665,2,1,1,0.000,0,0,0,0,2,340,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,15590434,0,25.00,0.875,2,14,8,1.040,1,0,0,1,2,160,5861
645,15613673,1,30.33,0.500,2,2,8,0.085,0,0,0,1,1,252,1
378,15592999,0,31.75,3.000,1,5,3,0.000,0,0,0,0,2,160,21
120,15636478,1,40.58,5.000,2,8,4,5.000,1,1,7,0,2,0,3066
72,15709459,1,29.42,1.250,2,9,4,1.750,0,0,0,0,2,200,1

In [6]:
trainy

439    0
395    0
137    1
48     0
519    0
      ..
105    1
645    0
378    0
120    1
72     0
Name: Class, Length: 483, dtype: int64

In [10]:
mdl=RandomForestClassifier(n_jobs=16,oob_score=True,n_estimators=100,criterion="entropy")
mdl.fit(trainx,trainy)
prd=mdl.predict(testx)
acc=np.mean(prd==testy)
cm=confusion_matrix(prd,testy)

In [11]:
cm

array([[109,  12],
       [ 11,  75]], dtype=int64)

In [12]:
acc

0.8888888888888888