In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [5]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/Credit_Card_Applications (1).csv")

In [6]:
dtst

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [8]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,0:15]
trainy=train.iloc[:,15]
testx=test.iloc[:,0:15]
testy=test.iloc[:,15]

In [9]:
trainx

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14
651,15810716,1,23.50,3.165,1,4,4,0.415,0,1,1,1,2,280,81
362,15586479,0,27.25,0.290,2,7,8,0.125,0,1,1,1,2,272,109
220,15761554,0,30.50,6.500,2,8,5,4.000,1,1,7,1,2,0,3066
475,15799859,1,23.58,0.460,1,9,4,2.625,1,1,6,1,2,208,348
444,15707042,1,20.08,0.250,2,11,4,0.125,0,0,0,0,2,200,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,15690169,1,48.58,0.205,1,4,4,0.250,1,1,11,0,2,380,2733
474,15638272,1,33.58,0.335,1,13,4,0.085,0,0,0,0,2,180,1
62,15789201,1,18.50,2.000,2,3,4,1.500,1,1,2,0,2,120,301
157,15650313,1,37.50,0.835,2,10,4,0.040,0,0,0,0,2,120,6
477,15737909,0,20.83,8.500,2,8,4,0.165,0,0,0,0,2,0,352

In [10]:
trainy

651    0
362    0
220    1
475    0
444    0
      ..
679    1
474    0
62     1
157    0
477    0
Name: Class, Length: 483, dtype: int64

In [11]:
rgrsr=LinearRegression()
rgrsr.fit(trainx,trainy)
prd=rgrsr.predict(testx)

In [12]:
score=r2_score(prd,testy)
score

0.35285017498379323