In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier as knc
from sklearn.model_selection import train_test_split

In [3]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/Credit_Card_Applications (1).csv")

In [4]:
dtst

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [5]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,0:15]
trainy=train.iloc[:,15]
testx=test.iloc[:,0:15]
testy=test.iloc[:,15]

In [6]:
trainx

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14
626,15689692,0,28.58,1.665,2,11,4,2.415,1,0,0,1,2,440,1
172,15744273,1,22.67,0.750,2,3,4,1.585,0,1,1,1,2,400,10
523,15729718,0,21.50,6.000,2,6,4,2.500,1,1,3,0,2,80,919
319,15771856,0,24.50,12.750,2,8,5,4.750,1,1,2,0,2,73,445
249,15736510,1,41.50,1.540,2,3,5,3.500,0,0,0,0,2,216,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,15571121,0,15.83,0.585,2,8,8,1.500,1,1,2,0,2,100,1
219,15767231,1,24.17,0.875,2,11,4,4.625,1,1,2,1,2,520,2001
608,15638751,0,27.67,2.040,2,9,4,0.250,0,0,0,1,2,180,51
649,15665374,1,28.67,9.335,2,11,8,5.665,1,1,6,0,2,381,169
10,15644446,1,33.50,1.750,2,14,8,4.500,1,1,4,1,2,253,858

In [7]:
trainy

626    0
172    0
523    1
319    1
249    1
      ..
5      1
219    1
608    0
649    1
10     1
Name: Class, Length: 483, dtype: int64

In [10]:
c=[]
for i in range(3,100,2):
    mdl=knc(n_neighbors=i)
    mdl.fit(trainx,trainy)
    prd=mdl.predict(testx)
    acc=np.mean(prd==testy)
    c.append([acc,i])

In [11]:
c

[[0.5797101449275363, 3],
 [0.5217391304347826, 5],
 [0.4927536231884058, 7],
 [0.5120772946859904, 9],
 [0.5458937198067633, 11],
 [0.5314009661835749, 13],
 [0.5265700483091788, 15],
 [0.5072463768115942, 17],
 [0.48792270531400966, 19],
 [0.4927536231884058, 21],
 [0.48792270531400966, 23],
 [0.5265700483091788, 25],
 [0.4927536231884058, 27],
 [0.5217391304347826, 29],
 [0.5314009661835749, 31],
 [0.5169082125603864, 33],
 [0.5265700483091788, 35],
 [0.5072463768115942, 37],
 [0.5120772946859904, 39],
 [0.5072463768115942, 41],
 [0.5072463768115942, 43],
 [0.4927536231884058, 45],
 [0.5024154589371981, 47],
 [0.5024154589371981, 49],
 [0.5072463768115942, 51],
 [0.4975845410628019, 53],
 [0.5120772946859904, 55],
 [0.5072463768115942, 57],
 [0.5072463768115942, 59],
 [0.5120772946859904, 61],
 [0.5265700483091788, 63],
 [0.5072463768115942, 65],
 [0.47342995169082125, 67],
 [0.47342995169082125, 69],
 [0.5072463768115942, 71],
 [0.47342995169082125, 73],
 [0.47342995169082125, 75],
 [0.5120772946859904, 77],
 [0.5120772946859904, 79],
 [0.5120772946859904, 81],
 [0.5169082125603864, 83],
 [0.5120772946859904, 85],
 [0.5120772946859904, 87],
 [0.5169082125603864, 89],
 [0.5169082125603864, 91],
 [0.5120772946859904, 93],
 [0.5072463768115942, 95],
 [0.5072463768115942, 97],
 [0.5120772946859904, 99]]